@import "~materialize-css/dist/css/materialize.min.css";
@import "react-markdown-editor-lite/lib/index.css";
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v55/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
  }

  *{
    margin: 0;
    padding: 0;
  }
  body{
    height: 100vh;
  }
  #root{
    min-height: 100%;
    background-color: #e0e0e0  ;

  }
  
  .custom-html-style hr{
    margin: 0;
    padding: 0;
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }
.autocomplete-content{
  min-width:max-content;
 height: auto!important;
}
  .dropdown-content li>a, .dropdown-content li>span{
    border: 1px solid rgba(8, 8, 8, 0.158);
  }

  .nav-wrapper{
    display: flex;
    justify-content: space-between;
  }
  .search-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .hoverable:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), inset 0 0px 15px 0 rgba(0,0,0,1.19);
}